Repository fenixflow/ff-storage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:ff-cli, build:ff-parsers, build:ff-logger, build:ff-storage, test:ff-cli, test:ff-parsers, test:ff-logger, test:ff-storage, publish:gitlab:ff-cli, publish:gitlab:ff-parsers, publish:gitlab:ff-logger, publish:gitlab:ff-storage

build:ff-cli:
  stage: build
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Building package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

build:ff-parsers:
  stage: build
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Building package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

build:ff-logger:
  stage: build
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Building package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

build:ff-storage:
  stage: build
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Building package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

test:ff-cli:
  stage: test
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Testing package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

test:ff-parsers:
  stage: test
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Testing package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

test:ff-logger:
  stage: test
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Testing package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

test:ff-storage:
  stage: test
  script:
  - 'set -euo pipefail
  
    echo "========================================"
  
    echo "Testing package: ${PACKAGE}"
  
    echo "========================================"
  
  
    PACKAGE_DIR="${CI_PROJECT_DIR}/${PACKAGE}"
  
    cd "${PACKAGE_DIR}"
  
  
  ...

publish:gitlab:ff-cli:
  stage: publish_gitlab
  script:
  ...

publish:gitlab:ff-parsers:
  stage: publish_gitlab
  script:
  ...

publish:gitlab:ff-logger:
  stage: publish_gitlab
  script:
  ...

publish:gitlab:ff-storage:
  stage: publish_gitlab
  script:
  ...

feat(ff-storage): add MongoDB support via MongoPool and MongoRepository
  ff-storage/CHANGELOG.md
  ff-storage/CLAUDE.md
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/__init__.py
  ff-storage/src/ff_storage/db/__init__.py
  ff-storage/src/ff_storage/db/adapters.py
  ff-storage/src/ff_storage/db/connections/__init__.py
  ff-storage/src/ff_storage/db/connections/mongo.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/exceptions.py
  ff-storage/src/ff_storage/health.py
  ff-storage/src/ff_storage/pydantic_support/__init__.py
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/jsonb_utils.py
  ff-storage/src/ff_storage/pydantic_support/mongo_repository.py
  ff-storage/src/ff_storage/query/__init__.py
  ff-storage/src/ff_storage/query/executor.py
  ff-storage/src/ff_storage/query/mongo_compiler.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/tests/unit/test_gin_index_parser.py
  ff-storage/tests/unit/test_jsonb_deserialization.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

feat(ff-cli): production release with full service catalog and ix-cli parity
  ff-cli/pyproject.toml
  ff-cli/services/defaults/agents.yaml
  ff-cli/services/defaults/azurite.yaml
  ff-cli/services/defaults/bridge.yaml
  ff-cli/services/defaults/chat.yaml
  ff-cli/services/defaults/flow-api.yaml
  ff-cli/services/defaults/flow-mcp.yaml
  ff-cli/services/defaults/frontend.yaml
  ff-cli/services/defaults/mongo-express.yaml
  ff-cli/services/defaults/mongo.yaml
  ff-cli/services/defaults/postgres.yaml
  ff-cli/src/ff_cli/branding.py
  ff-cli/src/ff_cli/commands/builds.py
  ff-cli/src/ff_cli/commands/dev.py
  ff-cli/src/ff_cli/commands/doctor.py
  ff-cli/src/ff_cli/commands/services.py
  ff-cli/src/ff_cli/commands/setup.py
  ff-cli/src/ff_cli/commands/tf.py
  ff-cli/src/ff_cli/main.py
Due: build:ff-cli, test:ff-cli, publish:gitlab:ff-cli

fix(ff-cli): make image optional when build config is present
  ff-cli/src/ff_cli/services/models.py
Due: none

chore: bump ff-storage to 5.0.0 and ff-cli to 0.5.0
  ff-cli/CHANGELOG.md
  ff-cli/pyproject.toml
  ff-storage/CHANGELOG.md
  ff-storage/pyproject.toml
Due: build:ff-cli, build:ff-storage, test:ff-cli, test:ff-storage, publish:gitlab:ff-cli, publish:gitlab:ff-storage

test: add MongoDB unit tests and update doctor tests
  ff-cli/tests/test_doctor.py
  ff-cli/uv.lock
  ff-storage/tests/unit/test_mongo_adapter.py
  ff-storage/tests/unit/test_mongo_compiler.py
  ff-storage/tests/unit/test_mongo_pool.py
  ff-storage/tests/unit/test_mongo_repository.py
  ff-storage/uv.lock
Due: none

ci: simplify pipeline — unit tests only, combined test+build, 2 stages
  .gitlab-ci.yml
Due: none

chore: update pre-commit config — ruff v0.15.9, unit tests only
  .pre-commit-config.yaml
  ff-cli/tests/test_doctor.py
  ff-logger/tests/test_reserved_fields.py
  ff-storage/src/ff_storage/db/connections/mongo.py
  ff-storage/src/ff_storage/db/schema_sync/normalizer.py
  ff-storage/tests/integration/test_pydantic_schema_consistency.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/test_mock/test_extensions.py
  ff-storage/tests/unit/test_gin_index_parser.py
Due: none

Path conditions:
  build:ff-cli: any of: ff-cli/pyproject.toml
  build:ff-parsers: any of: ff-parsers/pyproject.toml
  build:ff-logger: any of: ff-logger/pyproject.toml
  build:ff-storage: any of: ff-storage/pyproject.toml
  test:ff-cli: any of: ff-cli/pyproject.toml
  test:ff-parsers: any of: ff-parsers/pyproject.toml
  test:ff-logger: any of: ff-logger/pyproject.toml
  test:ff-storage: any of: ff-storage/pyproject.toml
  publish:gitlab:ff-cli: any of: ff-cli/pyproject.toml
  publish:gitlab:ff-parsers: any of: ff-parsers/pyproject.toml
  publish:gitlab:ff-logger: any of: ff-logger/pyproject.toml
  publish:gitlab:ff-storage: any of: ff-storage/pyproject.toml
