Repository fenixflow/ff-storage: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:ff-cli, build:ff-parsers, build:ff-logger, build:ff-storage, test:ff-cli, test:ff-parsers, test:ff-logger, test:ff-storage, publish:gitlab:ff-cli, publish:gitlab:ff-parsers, publish:gitlab:ff-logger, publish:gitlab:ff-storage

Path conditions:
  build:ff-cli: any of: ff-cli/pyproject.toml
  build:ff-parsers: any of: ff-parsers/pyproject.toml
  build:ff-logger: any of: ff-logger/pyproject.toml
  build:ff-storage: any of: ff-storage/pyproject.toml
  test:ff-cli: any of: ff-cli/pyproject.toml
  test:ff-parsers: any of: ff-parsers/pyproject.toml
  test:ff-logger: any of: ff-logger/pyproject.toml
  test:ff-storage: any of: ff-storage/pyproject.toml
  publish:gitlab:ff-cli: any of: ff-cli/pyproject.toml
  publish:gitlab:ff-parsers: any of: ff-parsers/pyproject.toml
  publish:gitlab:ff-logger: any of: ff-logger/pyproject.toml
  publish:gitlab:ff-storage: any of: ff-storage/pyproject.toml

feat(ff-parsers): Add ImageParser with OCR support and improve pipeline v1.2.0
  .gitlab-ci.yml
  ff-parsers/pyproject.toml
  ff-parsers/src/ff_parsers/factory.py
  ff-parsers/src/ff_parsers/parsers/__init__.py
  ff-parsers/src/ff_parsers/parsers/image_parser.py
  ff-parsers/src/ff_parsers/pipeline/ingest.py
Due: build:ff-parsers, test:ff-parsers, publish:gitlab:ff-parsers

chore: Clean code and fix all package tests
  .claude/commands/clean-code.md
  .claude/commands/commit-push.md
  ff-cli/src/ff_cli/commands/status.py
  ff-cli/src/ff_cli/plugin_helpers/scripts.py
  ff-cli/tests/test_branding_cli.py
  ff-cli/tests/test_doctor.py
  ff-cli/tests/test_plugin_manager.py
  ff-logger/tests/test_base_logger.py
  ff-logger/tests/test_reserved_fields.py
  ff-parsers/pyproject.toml
  ff-parsers/src/ff_parsers/__init__.py
  ff-parsers/src/ff_parsers/parsers/email_parser.py
  ff-parsers/src/ff_parsers/pipeline/ingest.py
  ff-parsers/src/ff_parsers/renderers/markitdown.py
  ff-parsers/src/ff_parsers/utils/__init__.py
  ff-parsers/src/ff_parsers/utils/attachments.py
  ff-parsers/src/ff_parsers/utils/temp_file_manager.py
  ff-parsers/tests/__init__.py
  ff-parsers/uv.lock
  ff-storage/src/ff_storage/db/schema_sync/base.py
  ff-storage/src/ff_storage/db/schema_sync/manager.py
  ff-storage/src/ff_storage/db/schema_sync/models.py
  ff-storage/src/ff_storage/db/schema_sync/mysql.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/db/schema_sync/sqlserver.py
  ff-storage/tests/test_mysql_pool.py
  ff-storage/tests/test_postgres_pool.py
  ff-storage/tests/test_sqlserver_pool.py
Due: build:ff-parsers, test:ff-parsers, publish:gitlab:ff-parsers

docs: Strengthen git authorship guidelines to ensure human-only commits
  .claude/commands/commit-push.md
  CLAUDE.md
Due: none

feat: Add PyPI and GitHub publishing tooling
  docs/PUBLISHING_SETUP.md
  ff-storage/docs/FF_STORAGE_PYDANTIC_IMPLEMENTATION.md
  packages_plugin/README.md
  packages_plugin/pyproject.toml
  packages_plugin/src/packages_plugin/__init__.py
  packages_plugin/src/packages_plugin/cli.py
  packages_plugin/src/packages_plugin/commands/__init__.py
  packages_plugin/src/packages_plugin/commands/github.py
  packages_plugin/src/packages_plugin/commands/list_cmd.py
  packages_plugin/src/packages_plugin/commands/pypi.py
  packages_plugin/src/packages_plugin/commands/setup.py
  packages_plugin/src/packages_plugin/commands/sync.py
  packages_plugin/src/packages_plugin/utils/__init__.py
  packages_plugin/src/packages_plugin/utils/auth.py
  packages_plugin/src/packages_plugin/utils/build.py
  packages_plugin/src/packages_plugin/utils/constants.py
  packages_plugin/src/packages_plugin/utils/github.py
  packages_plugin/src/packages_plugin/utils/pypi.py
  scripts/mirror_to_github.sh
  scripts/publish_to_pypi.sh
  scripts/sync_package.sh
Due: none

feat: Add Pydantic ORM with temporal data management (v3.0.0)
  ff-storage/docs/examples/basic_product_model.py
  ff-storage/docs/examples/regulation_scd2.py
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/__init__.py
  ff-storage/src/ff_storage/pydantic_support/__init__.py
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/introspector.py
  ff-storage/src/ff_storage/pydantic_support/repository.py
  ff-storage/src/ff_storage/pydantic_support/type_mapping.py
  ff-storage/src/ff_storage/temporal/__init__.py
  ff-storage/src/ff_storage/temporal/enums.py
  ff-storage/src/ff_storage/temporal/models.py
  ff-storage/src/ff_storage/temporal/registry.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/__init__.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/temporal/utils/__init__.py
  ff-storage/src/ff_storage/temporal/utils/audit_query.py
  ff-storage/src/ff_storage/temporal/utils/cleanup.py
  ff-storage/src/ff_storage/temporal/utils/migration.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

feat(v3): Complete production stability enhancements
  ff-storage/src/ff_storage/__init__.py
  ff-storage/src/ff_storage/db/schema_sync/manager.py
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/field_metadata.py
  ff-storage/src/ff_storage/pydantic_support/introspector.py
  ff-storage/src/ff_storage/pydantic_support/type_mapping.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/temporal/validation.py
Due: none

docs(v3): Add complete v3.0.0 documentation
  ff-storage/README.md
  ff-storage/docs/README.md
  ff-storage/docs/examples/schema_manager_example.py
  ff-storage/docs/guides/scd2_foreign_keys.md
  ff-storage/docs/guides/strategy_selection.md
  ff-storage/docs/quickstart_v3.md
Due: none

fix(examples): Update to use new Field() API from ff_storage
  ff-storage/docs/examples/basic_product_model.py
  ff-storage/docs/examples/regulation_scd2.py
Due: none

chore: Remove Black from pre-commit (redundant with ruff-format)
  .pre-commit-config.yaml
Due: none

fix: Resolve critical bugs blocking CRUD operations and schema sync
  .pre-commit-config.yaml
  ff-storage/docs/FF_STORAGE_V3_IMPLEMENTATION_PLAN.md
  ff-storage/docs/FF_STORAGE_V3_PRODUCTION_GUIDE.md
  ff-storage/docs/quickstart_v3.md
  ff-storage/src/ff_storage/__init__.py
  ff-storage/src/ff_storage/db/connections/postgres.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/exceptions.py
  ff-storage/src/ff_storage/health.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/utils/__init__.py
  ff-storage/src/ff_storage/utils/metrics.py
  ff-storage/src/ff_storage/utils/retry.py
  ff-storage/src/ff_storage/utils/validation.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_temporal_strategies.py
Due: none

small bug fixes when testing it out
  ff-storage/src/ff_storage/db/connections/postgres.py
  ff-storage/src/ff_storage/db/schema_sync/manager.py
  ff-storage/src/ff_storage/utils/validation.py
Due: none

feat(pydantic): Complete JSONB serialization and schema sync fixes
  ff-storage/docs/examples/basic_product_model.py
  ff-storage/docs/examples/regulation_scd2.py
  ff-storage/docs/examples/schema_manager_example.py
  ff-storage/src/ff_storage/__init__.py
  ff-storage/src/ff_storage/db/connections/postgres.py
  ff-storage/src/ff_storage/db/schema_sync/base.py
  ff-storage/src/ff_storage/db/schema_sync/manager.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/exceptions.py
  ff-storage/src/ff_storage/health.py
  ff-storage/src/ff_storage/pydantic_support/__init__.py
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/type_mapping.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/__init__.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/temporal/utils/migration.py
  ff-storage/src/ff_storage/utils/__init__.py
  ff-storage/src/ff_storage/utils/metrics.py
  ff-storage/src/ff_storage/utils/retry.py
  ff-storage/src/ff_storage/utils/validation.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_temporal_strategies.py
  pyproject.toml
Due: none

fix(tests): Improve async mock setup for integration tests
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_temporal_strategies.py
Due: none

feat(pydantic): Add dynamic temporal field injection via __init_subclass__
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/introspector.py
  ff-storage/src/ff_storage/pydantic_support/type_mapping.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/temporal/utils/audit_query.py
  ff-storage/src/ff_storage/temporal/utils/cleanup.py
  ff-storage/src/ff_storage/utils/metrics.py
  ff-storage/tests/test_pydantic_field_injection.py
Due: none

fix(tests): Resolve all async mock warnings and test failures
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/pydantic_support/introspector.py
  ff-storage/src/ff_storage/pydantic_support/type_mapping.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/test_mysql_pool.py
  ff-storage/tests/test_postgres_pool.py
  ff-storage/tests/test_sqlserver_pool.py
  packages_plugin/src/packages_plugin/commands/__init__.py
  packages_plugin/src/packages_plugin/commands/github.py
  packages_plugin/src/packages_plugin/commands/list_cmd.py
  packages_plugin/src/packages_plugin/commands/pypi.py
  packages_plugin/src/packages_plugin/commands/setup.py
  packages_plugin/src/packages_plugin/commands/sync.py
  packages_plugin/src/packages_plugin/utils/__init__.py
  packages_plugin/src/packages_plugin/utils/auth.py
  packages_plugin/src/packages_plugin/utils/build.py
  packages_plugin/src/packages_plugin/utils/constants.py
  packages_plugin/src/packages_plugin/utils/github.py
  packages_plugin/src/packages_plugin/utils/pypi.py
  uv.lock
Due: none

fix(security): Address SQL injection, SCD2 PK, and data leakage issues
  ff-storage/docs/examples/basic_product_model.py
  ff-storage/docs/examples/regulation_scd2.py
  ff-storage/docs/examples/schema_manager_example.py
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/introspector.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/test_pydantic_field_injection.py
Due: none

fix(audit): Set updated_by in none and copy_on_change strategies
  ff-storage/docs/examples/basic_product_model.py
  ff-storage/docs/examples/regulation_scd2.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/tests/integration/test_temporal_strategies.py
Due: none

feat(release): Prepare ff-storage v3.0.0 for PyPI and enhance packages plugin
  .gitlab-ci.yml
  ff-storage/CHANGELOG.md
  ff-storage/docs/README.md
  packages_plugin/src/packages_plugin/commands/github.py
  packages_plugin/src/packages_plugin/commands/pypi.py
  packages_plugin/src/packages_plugin/commands/sync.py
  packages_plugin/src/packages_plugin/utils/auth.py
  packages_plugin/src/packages_plugin/utils/build.py
  packages_plugin/src/packages_plugin/utils/constants.py
  packages_plugin/src/packages_plugin/utils/github.py
  packages_plugin/src/packages_plugin/utils/pypi.py
Due: none

feat(ff-storage): Add query builder abstraction and improve SQL identifier quoting
  ff-storage/CHANGELOG.md
  ff-storage/docs/examples/basic_product_model.py
  ff-storage/docs/examples/regulation_scd2.py
  ff-storage/docs/examples/schema_manager_example.py
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/db/query_builder/__init__.py
  ff-storage/src/ff_storage/db/query_builder/base.py
  ff-storage/src/ff_storage/db/query_builder/postgres.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/pydantic_support/base.py
  ff-storage/src/ff_storage/pydantic_support/repository.py
  ff-storage/src/ff_storage/temporal/registry.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/utils/__init__.py
  ff-storage/src/ff_storage/utils/postgres.py
  ff-storage/tests/integration/conftest.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_sql_reserved_keywords.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/unit/test_sql_identifier_quoting.py
  ff-storage/tests/unit/test_sql_identifier_quoting_fixed.py
  packages_plugin/src/packages_plugin/commands/github.py
  packages_plugin/src/packages_plugin/utils/github.py
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(ff-storage): Implement database abstraction and fix critical issues
  ff-storage/src/ff_storage/db/adapters.py
  ff-storage/src/ff_storage/db/query_builder/__init__.py
  ff-storage/src/ff_storage/db/query_builder/mysql.py
  ff-storage/src/ff_storage/db/query_builder/sqlserver.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/unit/test_cache_mutation.py
  ff-storage/tests/unit/test_database_adapter.py
Due: none

fix(tests): Resolve test failures for database abstraction
  ff-storage/docs/api/pydantic_orm.md
  ff-storage/docs/api/temporal_strategies.md
  ff-storage/src/ff_storage/db/query_builder/mysql.py
  ff-storage/src/ff_storage/db/query_builder/sqlserver.py
  ff-storage/src/ff_storage/pydantic_support/field_metadata.py
  ff-storage/tests/unit/test_cache_mutation.py
  ff-storage/tests/unit/test_database_adapter.py
Due: none

style: Apply code formatting and linting
  ff-storage/src/ff_storage/db/adapters.py
  ff-storage/src/ff_storage/db/query_builder/__init__.py
  ff-storage/src/ff_storage/db/query_builder/mysql.py
  ff-storage/src/ff_storage/db/query_builder/sqlserver.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/src/ff_storage/utils/__init__.py
  ff-storage/tests/integration/conftest.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_sql_reserved_keywords.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/unit/test_cache_mutation.py
  ff-storage/tests/unit/test_database_adapter.py
  ff-storage/tests/unit/test_sql_identifier_quoting_fixed.py
  packages_plugin/src/packages_plugin/commands/github.py
  packages_plugin/src/packages_plugin/commands/pypi.py
  packages_plugin/src/packages_plugin/commands/sync.py
Due: none

feat(schema-sync): Fix NOT NULL column handling (v3.2.0 + v3.1.1)
  ff-storage/CHANGELOG.md
  ff-storage/docs/api/pydantic_orm.md
  ff-storage/src/ff_storage/db/adapters.py
  ff-storage/src/ff_storage/db/query_builder/mysql.py
  ff-storage/src/ff_storage/db/query_builder/sqlserver.py
  ff-storage/src/ff_storage/db/schema_sync/base.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/src/ff_storage/pydantic_support/repository.py
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/base.py
  ff-storage/src/ff_storage/temporal/strategies/copy_on_change.py
  ff-storage/src/ff_storage/temporal/strategies/none.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/tests/unit/test_add_column_not_null.py
  ff-storage/tests/unit/test_database_adapter.py
Due: none

chore: Replace scripts with packages_plugin and update documentation
  CLAUDE.md
  README.md
  docs/PUBLISHING_SETUP.md
  ff-storage/docs/FF_STORAGE_PYDANTIC_IMPLEMENTATION.md
  ff-storage/docs/FF_STORAGE_V3_IMPLEMENTATION_PLAN.md
  packages_plugin/README.md
  packages_plugin/src/packages_plugin/commands/github.py
  packages_plugin/src/packages_plugin/commands/pypi.py
  packages_plugin/src/packages_plugin/commands/setup.py
  packages_plugin/src/packages_plugin/commands/sync.py
  packages_plugin/src/packages_plugin/utils/build.py
  packages_plugin/src/packages_plugin/utils/github.py
  packages_plugin/src/packages_plugin/utils/pypi.py
  scripts/build_all.sh
  scripts/build_package.sh
  scripts/bump_version_from_registry.py
  scripts/mirror_to_github.sh
  scripts/publish_if_new.sh
  scripts/publish_to_pypi.sh
  scripts/sync_package.sh
  scripts/test_package.sh
Due: none

fix(ff-storage): Normalize PostgreSQL float types during introspection (v3.2.1)
  ff-storage/CHANGELOG.md
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/tests/unit/test_float_type_normalization.py
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(ff-storage): Fix test failures and improve schema sync logging (v3.2.2)
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/db/schema_sync/base.py
  ff-storage/src/ff_storage/db/schema_sync/manager.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/unit/test_cache_mutation.py
  ff-storage/tests/unit/test_database_adapter.py
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(ff-storage): Fix integration test suite and improve test infrastructure (v3.2.3)
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/pydantic_support/repository.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/uv.lock
  pyproject.toml
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(ff-storage): Fix integration test suite and critical UPDATE bugs (v3.2.4)
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/temporal/repository_base.py
  ff-storage/src/ff_storage/temporal/strategies/scd2.py
  ff-storage/tests/integration/conftest.py
  ff-storage/tests/integration/test_sql_reserved_keywords.py
  ff-storage/tests/integration/test_temporal_strategies.py
  ff-storage/tests/unit/test_cache_mutation.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(tests): Fix test_get_many_returns_independent_copies mock setup
  ff-storage/tests/unit/test_cache_mutation.py
Due: none

fix(schema-sync): Normalize WHERE clauses to prevent index churn
  ff-storage/src/ff_storage/db/schema_sync/base.py
  ff-storage/tests/integration/test_decimal_float_normalization.py
  ff-storage/tests/unit/test_index_where_clause_normalization.py
Due: none

fix(validation): Remove parameter validation to eliminate false positives (v3.2.5)
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/utils/validation.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(schema-sync): Fix WHERE clause parser to handle parentheses in atomic conditions (v3.3.0)
  ff-storage/CHANGELOG.md
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/db/schema_sync/base.py
  ff-storage/src/ff_storage/db/schema_sync/manager.py
  ff-storage/src/ff_storage/db/schema_sync/normalizer.py
  ff-storage/tests/integration/test_connection_resilience.py
  ff-storage/tests/test_mysql_pool.py
  ff-storage/tests/unit/test_cache_mutation.py
  ff-storage/tests/unit/test_index_where_clause_normalization.py
  ff-storage/tests/unit/test_postgres_normalizer.py
  ff-storage/tests/unit/test_schema_normalizer.py
  ff-storage/tests/unit/test_where_clause_normalizer.py
  ff-storage/tests/unit/test_where_clause_precedence_tdd.py
  ff-storage/uv.lock
  pyproject.toml
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

docs(ff-storage): Update documentation for v3.3.0 release
  ff-storage/README.md
  ff-storage/SCHEMA_SYNC_IMPLEMENTATION.md
  ff-storage/docs/FF_STORAGE_V3_PRODUCTION_GUIDE.md
  ff-storage/docs/README.md
  ff-storage/docs/quickstart_v3.md
Due: none

fix(changelog): Correct test count in ff-storage v3.3.0 release notes
  ff-storage/CHANGELOG.md
Due: none

fix(pytest): Remove deprecated asyncio_mode configuration
  pyproject.toml
Due: none

chore: Bump versions for PyPI release (ff-storage v3.3.1, ff-logger v0.4.3)
  ff-logger/CHANGELOG.md
  ff-logger/pyproject.toml
  ff-storage/CHANGELOG.md
  ff-storage/pyproject.toml
Due: build:ff-logger, build:ff-storage, test:ff-logger, test:ff-storage, publish:gitlab:ff-logger, publish:gitlab:ff-storage

fix(schema-sync): eliminate 96.7% of false positive schema drift warnings
  ff-logger/uv.lock
  ff-storage/CHANGELOG.md
  ff-storage/RELEASE_NOTES_v3.4.0.md
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/db/schema_sync/normalizer.py
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/tests/integration/fixtures/real_world_models.py
  ff-storage/tests/integration/test_pydantic_schema_consistency.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

fix(schema-sync): Achieve 100% false positive elimination in schema drift detection
  ff-storage/CHANGELOG.md
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/db/schema_sync/postgres.py
  ff-storage/tests/integration/fixtures/real_world_models.py
  ff-storage/tests/integration/test_pydantic_schema_consistency.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage

feat(type-mapping): Change list[primitive] from TEXT[] to JSONB
  ff-storage/CHANGELOG.md
  ff-storage/pyproject.toml
  ff-storage/src/ff_storage/pydantic_support/type_mapping.py
  ff-storage/tests/integration/fixtures/real_world_models.py
  ff-storage/uv.lock
Due: build:ff-storage, test:ff-storage, publish:gitlab:ff-storage
